NUXT_SESSION_PASSWORD="dummy"
DATABASE_URL="postgresql://user:password@db:5432/db?schema=development"
DATABASE_SCHEMA="development"
NUXT_OAUTH_GOOGLE_CLIENT_ID="dummy"
NUXT_OAUTH_GOOGLE_CLIENT_SECRET="dummy"
API_KEY="mhgm"
STATEFUL_API_KEY="stateful-api"
STATERUL_API_BASE_URL="http://localhost:8000"
STATERUL_API_INTERNAL_URL="http://stateful-api:8000"
