@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --default: #2C3E35;
    --primary-thin: #FFF4DE;
    --primary-light: #D4AF37;
    --primary-dark: #A37F2C;
    --success-thin: #EEFFFD;
    --success-light: #14B8A6;
    --success-dark: #0F766E;
    --error-light: #FF7C7C;
    --error-dark: #BF2626;
  }

  .font-cinzel {
    font-family: "Cinzel Decorative", serif;
  }

  .text-default {
    color: var(--default)
  }

  .text-primary {
    color: #A37F2C
  }

  .text-success {
    color: #0F766E
  }

  .text-error {
    color: #BF2626
  }

  .gradient-primary {
    --gradient-image: linear-gradient(
      to right,
      #D4AF37,
      #A37F2C
    );
  }

  .gradient-success {
    --gradient-image: linear-gradient(
      to right,
      #14B8A6,
      #0F766E
    );
  }

  .gradient-error {
    --gradient-image: linear-gradient(
      to right,
      #FF7C7C,
      #BF2626
    );
  }

  .bg-gradient-image {
    background-image: var(--gradient-image);
  }

  .text-gradient-mode {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: var(--gradient-image);
  }

  .border-gradient-mode {
    border-width: 2px;
    border-color: transparent;
    background-image:
      var(--bg-gradient-image, linear-gradient(#fff, #fff)),
      var(--gradient-image);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}